@model InventoryTransactionsApp.Models.Product

<html>
<head>
    <title>Detail Products</title>
</head>
<body>
    <h1>Detail Products</h1>
    <p>Product ID: @Model.ProductId</p>
    <p>Name: @Model.Name</p>
    <p>Stock Level: @Model.StockLevel</p>
</body>
</html>